.card{
    width:300px;
    box-sizing:border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:20px;
    
}
.footer{
    background-color:blueviolet;
}
.pic{
    width:100%;
}
h1{
    text-align: center;
    color:white;
    font-weight: bolder;
}
.desc{
    text-align: justify;
    color:white;
    padding:10px;
    font-weight: bold;
    word-spacing: 0%;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}