.nav-bar{
    background-color: blueviolet;
    text-align:right;
    padding:1% 7%;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    padding:20px;
    font-size: 1.2rem;
   
}
.drop-down-container{
    display:inline;
    position:relative;
}
.drop-down-content{
    position:absolute;
    top:40px;
    right:0px;
    background-color: blueviolet;
    text-align: left;
    display:none;
}
.drop-down-content a{
    display:block;
    
}
.drop-down-container:hover .drop-down-content{
    display:block;
}
.drop-down-content a:hover {
    background-color: brown;
}
