.div1{
    height:300px;
    width:300px;
    background-color: red;
    border:2px solid green;
    overflow:hidden;
    box-shadow:10px 20px lightblue ;
}
.div1 p{
    text-align: justify;
    text-shadow:0 0 5px yellow;
}